body {
  background-color: #ffffff;
}

.toolbar-wrapper {
  background-color: #ffffff;
  width: 544px;
  height: 59px;
  border-radius: 9px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e1e1e1;
}
.icon {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 10px 5px 10px;
}
.icon:hover {
  background-color: #00b87c;
  margin-top: 4px;
}
