.search-container {  
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
  }
  
  .search-input {
    width: 390px;
    height: 32px;
    background: rgba(255, 255, 255, 0.4);
    border: 0.8px solid rgba(153, 153, 153, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 12px;
    outline: none;
    padding: 0 10px;
    color: #999999;
  }
  .search-input::placeholder{
    color: #999999;
  }
  
  .search-icon {
    width: 18px;
    height: 18px;
  }
  
  .search-avatar {
    width: 39px;
    height: 39px;
    margin: 0 12px;
  }