/* .note{
  background-color:red;
  margin-bottom:10px;
  border-radius:10px;
  padding:1rem;
  min-height:130px;
 display:flex;
 justify-content:space-around;
 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

.note{
  width:140px;
  height:140px;
  background:#FFA740;
  overflow:hidden;
  left: 70px;
  top: -100px;
  padding:7px;
  /* box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2); */
  font-family: 'Permanent Marker', cursive;
  line-height:1.7em;
  font-size:16px;
  position: absolute;

  
}
.new {
  position: fixed;
  top: 50px;
  width: 150px;
  height: 170px;
  background-color: #FFA740;
  
}
.note:before {
content:'';
font-size: 12px;
 display:block;
 position:absolute;
 
 border-top: 26px solid #FF900E;
 border-bottom: 26px solid white;
 border-left: 26px solid #FF900E;
 border-right: 26px solid white;
 background: transparent;
  /*box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3); 
 */
   right:0;
 bottom:0;
}



.noteslist{
  width:200px;
  height:200px;
}

textarea{
  border:none;
  resize:none;
  background-color:#FFA740;
  height: 110px;
  width: 130px;
}

textarea:focus{
 outline:none;
}

.save{
  border:none;
  border-radius: 5px;
  padding: 5px;
  
}
.delete-icon{
  border-radius: 5px;
  background-color: white;
  padding: 0px 8px;
  cursor: pointer;
  font-size: 10px;
  float: right;
}
.delete-icon:hover{
  background-color: red;
  color: white
}