.Canvas {
  background: linear-gradient(rgba(251, 255, 254, 0.98), rgba(251, 255, 254, 0.98)), url(./Image/background.png) center center repeat;
  height: 100vh;
}

.top-bar {
  background-color: #FBFFFE;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative
}