.popup-menu-container {
  position: relative;
}

.button {
  background-color: transparent;
  border: none;
}

.popup-menu {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50%;
  transform: scale(0);
  transform-origin: bottom left;
  min-width: 10rem;
  bottom: 5px;

  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 0.2s;
}

.popup-menu.shown {
  transform: scale(1);
  transform: translate(-50%, -50%);
  left: 50%;
}
