.saved-file-view {
  margin: auto;
}
.savedFiles {
  width: 300px;
  height: 350px;
  overflow-y: scroll;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.savedFiles::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.savedFiles::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}
.savedFiles::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f1f1f1; /* creates padding around scroll thumb */
}
.fileSection {
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
h3,
.fileName {
  color: #00b87c;
  cursor: pointer;
}
.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fileIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fileName {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h3 {
  margin-left: 1.5rem;
  font-size: 20px;
}
.bottomIcons {
  width: 270px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.icon {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon svg {
  fill: #999999;
}
.icon:hover svg path,
.icon:hover {
  background-color: #00b87c;
  border: none;
  fill: #ffffff;
}
