/*.shapeSelector {
  position: relative;
}
.shapesContainer {
  width: 11.5rem;
  height: 12.8rem;
  margin: 0% auto;
  position: absolute;
  bottom: 0.5%;
  left: 50%;
  background: #ffffff;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  align-items: center;
}

.shapes {
  position: absolute;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.shapes > img:hover {
  filter: brightness(0.5);
  /* box-shadow: #00B87C 0px 1px 2px 2px; */

/*.shapeSelector {
  position: relative;
}*/
.shapesContainer {
  width: 11.5rem;
  height: 12.8rem;
  margin: 0% auto;
  position: absolute;
  bottom: 0.5%;
  left: 50%;
  background: #ffffff;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  align-items: center;
}

.shapes {
  position: absolute;
  cursor: pointer;
}
