name: Zuri Whiteboard Deployment

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Git Pull on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ZURI_MAIN_HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /var/www/zc_plugin_whiteboard/
            git clean -fd
            git stash
            git pull
            cd /var/www/zc_plugin_whiteboard/whiteboard-client/
            npm update
            npm run build
            cd /var/www/zc_plugin_whiteboard/whiteboard-server/
            npm update
            npm run build
            pm2 reload whiteboard 2>/dev/null || pm2 start app.js --name "whiteboard"
